.container1__image-container {
	width: 50%;
	@media screen and (max-width: 880px) {
		display: none;
	}

	img {
		/*----------Change these values if you want----------*/
		$width: 350px;
		/*---------------------------------------------------*/

		width: $width;
		$min-width: 1366px;
		$i: 1367px;
		@while $min-width < 10000px {
			$i: $i + 128px;
			$width: calc($width * 1.0937);
			$min-width: calc($min-width * 1.0937);

			@media screen and (min-width: $min-width) {
				width: $width !important;
			}
		}
	}
}

.container1__text-container {
	width: 50%;
	@media screen and (max-width: 880px) {
		width: 100%;
		align-items: center;
	}

	h1 {
		color: white;
	}

	img {
		display: none;
		@media screen and (max-width: 460px) {
			width: 100% !important;
		}
		@media screen and (max-width: 880px) {
			display: flex;
			width: 50%;
		}
	}
}
