/*----------COLOR PALLETE----------*/

/*Examples*/
$medium-purple: #6750d6;
$dark-purple-1: #190a4e;
$dark-purple-2: #07031c;
$light-purple-1: #e8e6ff;
$light-purple-2: #c5bdff;
$white-color: #ffffff;
$gray-color: #777777;
